<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyTracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Witamy w aplikacji StudyTracker</h1>
        <div class="form-group mt-5">
            <a href="{{ url_for('login') }}" class="btn btn-primary">Logowanie</a>
            <a href="{{ url_for('register') }}" class="btn btn-secondary">Rejestracja</a>
        </div>
    </div>
</body>

</html>